.containerForAll {
  width: 100vw;
  margin-bottom: 120px;
}

.scheduleTabContainer {
  margin-top: -40px;
  width: 100vw;
  height: 92px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.scheduleTabContainer button {
  width: 50vw;
}

.scheduleTabContainer div {
  font-weight: bold;
  font-size: 16px;
}

.header {
  width: 312px;
  margin: 62px auto 0px 35px;
  background-color: #ffffff;
  z-index: 99;
  position: sticky;
}

.closingIcon {
  top: 0;
  margin-right: 36px;
  font-size: 40px;
  color: #cccccc;
}

.headerHr {
  border: 1px solid #e5e6ee;
  filter: blur(0.5px);
  transform: rotate(0.15deg);
}

.noApplicationsAppliedContainer {
  margin-top: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noApplicationsAppliedHeader {
  margin-bottom: 48px;
}
.noApplicationsAppliedText {
  margin-bottom: 48px;
}
.button {
  height: 55px;
  width: 218px;

  font-size: 20px;

  box-shadow: 0 24px 16px -19px #a1a3f6;
}

.paperContainer {
  margin-top: 24px;
  width: 80vw;
  background-color: #fbf9f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.petImg {
  width: 90%;
  border-radius: 20px;
}

.petDetailContainer {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 15px;
}

.petPaperBigContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.petLabelContainer {
  width: 102px;
  font-weight: bold;
}
.petContentContainer {
  width: 124px;
}

.petLabelText {
  font-weight: bold;
  width: 40%;
}
.petContentText {
  width: 64%;
}
.petLabelText,
.petContentText {
  margin-top: 8px;
}

.petLabelContentContainer {
  display: flex;
  justify-content: flex-start;
}
