.navigateBackButton {
  color: #cccccc;
  margin-left: -12px;
  font-size: 32px;
  margin-top: 32px;
  cursor: pointer;
}

.adoptionDetailHeaderContainer {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adoptionDetailHeaderImg {
  width: 80px;
}

.adoptionDetailHr {
  border: 1px solid #e5e6ee;
  filter: blur(0.5px);
  transform: rotate(0.15deg);
}

.adoptionTextContainer {
  width: 282px;
  position: relative;
  padding: 4px 28px 12px 40px;
  color: #ffffff;
  border-radius: 40px;
  margin-bottom: 40px;
  background: linear-gradient(90deg, #255fa7 0%, #255798 46.87%, #1c3967 100%);
}

.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  top: -12px;
  text-align: center;
  font-size: 36px;
  border-radius: 80px;
  width: 64px;
  height: 64px;
  background-color: #224081;
}
.adoptionDetailH2 {
  margin-left: 24px;
}

.adoptionDetailOl {
  font-size: 14px;
  margin-left: -24px;
}
