.formsubmittedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.successfulSubmitted {
  height: 39px;
  letter-spacing: 0.002em;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.logoPic {
  width: 59px;
  height: 59px;
}

.willContactyou {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.navbarIcon {
  font-size: 40px;
  height: 47px;
  color: #B0B2C3;
}

.searchNav {
  font-size: 47px;
}
.userNav {
  font-size: 45px;
}

.navBArList {
  position: absolute;
  bottom: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 430px;
  height: 85px;
  background: #FFFFFF;
  box-shadow: 0px -15px 40px rgba(237, 238, 251, 0.8);
  border-radius: 10px;
  flex-direction: row;
}