.fixedPart{
    position: fixed;
    margin-bottom: 150px;
}

.upperPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    // border: 1px solid black;
    width: 100vw;
    height: 10vh;
  
}

.leftArrow {
    flex: 1;
    // background-color: green;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftArrowIcon {
    font-size: 10px;
    // border: 1px solid black;
    // border-radius: 50%;
    // background-color: rgb(249, 246, 246);
    height: 40px;
    width: 40px;
}

.searchBarPart {
    flex: 4;
    // background-color: yellow;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    width: 60vw;
}

.searchBar:hover {
    // box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    border-color: 0 0 5pt 0.5pt #D3D3D3;
}

.searchBar:focus {
    // box-shadow: 0 0 5pt 2pt #D3D3D3;
    border-color: 0 0 5pt 0.5pt #D3D3D3;
    outline-width: 0px;
}

.filter {
    flex: 1;
    // background-color: green;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.filterIcon {
    font-size: 10px;
    // border: 1px solid black;
    // border-radius: 50%;
    // background-color: rgb(249, 246, 246);
    height: 40px;
    width: 40px;
}

.searchChance {
    color: #0f2851;
    font-weight: bold;
    font-size: xx-large;
    margin: 20px;
    
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.chanceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    // background-color: red;
    width: 100vw;
    height: 800px;
    overflow-y: scroll;
}

.chanceInstances{
    // margin-top: 20px;
    margin-bottom: 30px;
    }


.chancePhoto {
    width: 90vw;
    height: 30vh;
    border-radius: 20px 20px 20px 20px;
}

.box {
    position: relative;
    width: 100%;

}

.remainingPlace {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 25vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #f1f3f5;
    font-weight: bold;
    box-sizing: border-box;
    box-shadow: 1px 2.5px rgb(169, 163, 163);
}

.organisationName {
    color: #898d9e;
}

.taskName {
    color: #0f2851;
    font-weight: bolder;
    margin-top: 10px;
}

.address, .dateDetail {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #898d9e;
}