.upperPart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  width: 100vw;
  // height: 10vh;
  height: 100px;
  position: fixed;
  background-color: #ffffff;
}

.leftArrow {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftArrowIcon {
  font-size: 10px;
  height: 40px;
  width: 40px;
}

.searchBarPart {
  flex: 4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 60vw;
}

.searchBar:hover {
  border-color: 0 0 5pt 0.5pt #d3d3d3;
}

.searchBar:focus {
  border-color: 0 0 5pt 0.5pt #d3d3d3;
  outline-width: 0px;
}

.searchContainer {
  width: 68vw;
}

.searchContainer input {
  background: #ffffff;
  box-shadow: 0px 1px 9px -1px rgba(88, 92, 229, 0.5);
  border-radius: 30px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 40px;
  font-size: 18px;
  margin-right: 0;
}
// .searchContainer svg {
//   font-size: 24px;
//   width: 40px;
//   height: 40px;
// }
.searchBigContainer {
  //   margin-right: 12px;
  font-size: 20px;
}

.searchMargin {
  margin-left: 20px;
}

// .searchIcon div {
//   margin-left: 40px;
//   width: 400px;
// }

.searchIcon {
  //   width: 160px;
  font-size: 24px;
  left: 14px;
  position: absolute;
}

.chevronAndAdjustmntIcon {
  color: #b0b2c3;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  display: flex;
  //   width: 430px;
  height: 85px;
  //   margin-top: 30px;
}
.backIcon {
  margin-left: 16px;
  //   margin-left: 30px;
  font-size: 44px;
}

.adjustmentFilterIconContainer {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: 16px;
}

.adjustmentFilterIcon {
  transform: rotate(90deg);
  margin-top: 2px;
  font-size: 34px;
}

.filter {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterIcon {
  font-size: 10px;
  height: 40px;
  width: 40px;
}

.bottomPart {
  margin-top: 110px;
  margin-bottom: 120px;
}

.searchChance {
  color: #0f2851;
  font-weight: bold;
  font-size: xx-large;
  margin-left: 40px;
  //   position: sticky;
  top: 10vh;
  // background-color: yellowgreen;
}

.chanceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  width: 100vw;
  // height: 600px;
  border-top: 1px solid #ccc;
  height: 65vh;
  overflow-y: scroll;
  // background-color: red;
  padding-top: 40px;
  padding-bottom: 40px;
}

.chanceInstances {
  margin-bottom: 20px;
}

.chancePhoto {
  width: 90vw;
  height: 30vh;
  border-radius: 20px 20px 20px 20px;
}

.box {
  position: relative;
  width: 100%;
}

.remainingPlace {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 25vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #f1f3f5;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 1px 2.5px rgb(169, 163, 163);
}

.organisationName {
  color: #898d9e;
}

.taskName {
  color: #0f2851;
  font-weight: bolder;
  margin-top: 10px;
}

.address,
.dateDetail {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #898d9e;
}

.controlPanelContainer {
  width: 100vw;
}
