.containerForAll {
  width: 100vw;
}

.chevronAndAdjustmntIcon {
  color: #b0b2c3;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 85px;
  margin-top: 30px;
}

.conversationContainer {
  margin-top: 120px;
  margin-bottom: 124px;
}

.chevronIcon {
  margin-left: 47px;
  font-size: 38px;
  margin-bottom: 16px;
}
.chevronIconTab {
  // margin-right: -130px;
  margin-left: 30px;
  font-size: 38px;
}

// .chevronIconContainer {
//   color: #b0b2c3;
//   justify-content: start;
//   display: flex;
//   width: 100vw;
//   height: 105px;
//   top: 0;
//   left: 0;
//   // margin-top: 20px;
//   background-color: #ffffff;
//   position: fixed;
//   border: 1px solid black;
//   // z-index: 99;
// }

.dateContainer {
  margin-top: 12px;
  margin-bottom: -8px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateTab {
  background: #f5f5f6;
  border-radius: 10px;
  // width: 79px;
  height: 26px;
  // margin-left: 151px;
  padding: 4px 25px;
  color: #92919a;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

//// chat ////
.supportSide {
  font-weight: 400;
}

.supportSideContainer {
  position: relative;
  // z-index: -1;
  width: fit-content;
  margin-top: 20px;
  background: #f6f6f6;
  border-radius: 10px;
  // text-align: center;
  // width: auto;
  // height: 52px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin-left: 35px;
  padding: 10px 20px 20px 20px;
  max-width: 60vw;
  min-width: 12vw;
  word-wrap: break-word;
}

.clientSideContainer {
  max-width: 60vw;
  min-width: 12vw;
  position: relative;
  // z-index: -1;
  width: fit-content;
  // max-width: 240px;
  margin-top: 20px;
  word-wrap: break-word;
  background: #a7a0ed;
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px 20px 20px 20px;
}

.clientSideBigContainer {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
//// chat ////

.imgContainer {
  // margin-top: 10px;
  border-radius: 10px;
  width: 60vw;
  // height: 133px;
}

.issueFixedContainer {
  margin-left: 80px;
  width: fit-content;
  max-width: 240px;
  margin-top: 155px;
  padding: 12px 20px;
  background: #f7bb93;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBigContainer {
  padding-top: 8px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #f5f5f5;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.textInputClass input {
  width: 290px;
  height: 50px;
}

.taskContanier {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  background: #f6f6f6;
  width: 72vw;
  height: 70px;
}

.taskTab {
  font-weight: 400;
  text-align: center;
  margin-left: 4vw;
}
.statusContainer {
  margin-top: 0px;
  background: #a7a0ed;
  border-radius: 0px 0px 10px 10px;
  width: 72vw;
  height: 30px;
  display: flex;
  align-items: center;
}
.statusTab {
  font-weight: 400;
  margin-left: 4vw;
}

.organisationContainer {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.organisationName {
  font-size: 24px;
  color: #0f2851;
}

.organisationLogo {
  width: 60px;
  margin-left: 24px;
  margin-right: 24px;
}

.time {
  position: absolute;
  right: 12px;
  bottom: 4px;
  font-size: 12px;
}
.textInputIconRightBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: fit-content;
  // height: fit-content;
  padding: 0;
  margin-left: 10px;
  border: 0;
  background-color: #f5f5f5;
  color: #000000;
}
.textInputIconLeftBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: fit-content;
  // height: fit-content;
  padding: 0;
  margin-right: 10px;
  background-color: #f5f5f5;
  color: #000000;
}

.chatroomContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.chatTab {
  align-content: center;
  justify-content: center;
  width: 100vw;
  /* margin-left: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
