.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.noticeText {
  margin-bottom: 64px;
}
.logo {
  margin-top: -40px;
  width: 232px;
  height: 232px;
}

.logoText {
  margin-top: -24px;
  width: 214px;
  margin-bottom: 16px;
}
.sologan {
  margin-top: 40px;
  width: 70vw;
  text-align: center;
  line-height: 24px;
  margin-bottom: 40px;
}

.button {
  height: 48px;
  width: 148px;
  margin-top: 12px;
  font-size: 20px;
  background-color: #585ce5;
  box-shadow: 0 24px 16px -19px #a1a3f6;
}
