.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.introductionPhoto {
  width: 360px;
}

.welcomeText {
  margin-bottom: -14px;
}

.button {
  height: 56px;
  width: 312px;
  margin-top: 12px;
  font-size: 20px;
  background-color: #585ce5;
  box-shadow: 0 24px 16px -19px #a1a3f6;
  position: relative;
}

.loginContainer {
  width: 312px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginText {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
