.header {
  margin-top: 80px;
  margin-bottom: 40px;
}

.containerForAll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  width: 312px;
  margin: 10px 0;
}

.button {
  height: 56px;
  width: 312px;
  margin-top: 12px;
  font-size: 20px;
  background-color: #6b4eff;
  box-shadow: 0 24px 16px -19px #a1a3f6;
}

.registerIcon {
  position: absolute;
  margin-left: 140px;
}

.validationAllContainer {
  font-size: 15px;
}

.validationContainer {
  display: flex;
  align-items: center;
  margin: auto 8px;
}

.validationIcon {
  color: #ff0000;
}

.checkbox {
  margin-top: 20px;
}

.separator {
  margin-top: 24px;
  width: 344px;
  height: 12px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
  text-align: center;
}

.separatorText {
  font-size: 17px;
  background-color: #ffffff;
  padding: 0 16px;
}

.oauthContainer {
  margin-top: 24px;
  width: 344px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.oauthIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: rgba($color: #000000, $alpha: 0.3) 1px solid;
  border-radius: 20px;
}
.loginContainer {
  width: 344px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginText {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  margin-top: -40px;
  width: 232px;
  height: 232px;
}

.logoText {
  margin-top: -24px;
  width: 214px;
  margin-bottom: 16px;
}
.forgetPasswordBtn {
  margin-bottom: 138px;
}
.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.inputEmailContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.inputEmailText {
  width: 312px;
  margin-bottom: 24px;
  color: #898D9E
}

.loginPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.welcomeText {
  margin-bottom: -14px;
}

.petscueText {
  margin-bottom: 36px;
}

.sologan {
  margin-bottom: 24px;
}

.introductionPhoto {
  width: 360px;
}

.forFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.facebookLogo {
  color: #585ce5;
  font-size: 22px;
}

.googleIcon {
  margin-top: 4px;
}

.passwordInput input {
  margin-top: -1px;
  height: 48px;
}

.resetInputEmailValidation {
  margin-bottom: 340px;
}

.resetPasswordValidation {
  margin-bottom: 402px;
}