.navbarIcon {
  font-size: 40px;
  height: 47px;
  color: #B0B2C3;
}

.searchNav {
  font-size: 47px;
}
.userNav {
  font-size: 45px;
}

.navBArList {
  position: fixed;
  bottom: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 430px;
  height: 85px;
  background: #FFFFFF;
  box-shadow: 0px -15px 40px rgba(237, 238, 251, 0.8);
  border-radius: 10px;
  flex-direction: row;
}