.notificationContainer {
  display: flex;
  // justify-content: flex-end;
  width: 90vw;
  align-items: center;
  height: 70px;
  margin-left: 40px;
  font-size: 4vw;
}

.hr100vw {
  margin-top: 20px;
  border: 1px solid #e5e6ee;
  filter: blur(0.5px);
  transform: rotate(0.15deg);
}
.hr90vw {
  border: 1px solid #e5e6ee;
  filter: blur(0.5px);
  transform: rotate(0.15deg);
  width: 88vw;
}

.notificationHeader {
  margin-left: 40px;
  margin-bottom: 4px;
}

.noNotificationContainer {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
