.detailsContainer {
  margin-left: 50px;
}

.noApplicationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
}

.chevronAndAdjustmntIcon {
  color: #b0b2c3;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 85px;
  margin-top: 30px;
}

.chevronIcon {
  margin-left: 30px;
  font-size: 38px;
  color: #b0b2c3;
}

.outlineShare {
  margin-right: 30px;
  font-size: 30px;
  color: #b0b2c3;
}

.headerList {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100vw;
  font-size: 16px;
}

.tabList {
  width: 100vw;
  font-size: 18px;
  margin-bottom: 10px;
}
.tabList div {
  font-size: 18px;
}

.basicInfo {
  margin-top: 50px;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 30px;
}

.square {
  border: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 110px;
  height: 110px;
  margin-bottom: 12px;
}

.OrganisationName {
  color: #898d9e;
  font-weight: 400;
}

.organisationName {
  color: #898d9e;
  font-weight: 400;
  font-size: 18px;
  margin-left: 20px;
}

.organisationTabContainer {
  align-items: center;
  display: flex;
}

.locationIcon {
  color: #898d9e;
  font-size: 22px;
}

.locationName {
  font-weight: 400;
  font-size: 18px;
  color: #898d9e;
}

.addressNameDetails {
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.hrStylist {
  border: 1px solid #e5e6ee;
  filter: blur(0.5px);
  width: 100vw;
}

.inquiryIcon {
  font-size: 22px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.inquiryContainer {
  display: flex;
  flex-direction: row;
  font-weight: 400;
}

.controlPanelContainer {
  width: 100vw;
}

.choice {
  width: 80vw;
  height: 58px;
  color: black;
  font-size: 19px;
  margin: 20px auto;
}

.containerForAll {
  width: 100vw;
}

.choiceBtnContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.organisationTab {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.002em;
  margin-left: 40px;
  width: 390px;
}

.headerContainer {
  margin-bottom: 10px;
}

.activityName {
  font-weight: 700;
  font-size: 20px;
  margin-top: 12px;
}

.activtyContainer {
  margin-top: 40px;
  margin-left: 50px;
}

.locationContanier {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  margin-top: 12px;
}
.DateContainer {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  margin-top: 12px;
}

.locationName {
  margin-left: 15px;
  color: #898d9e;
}
.DateTab {
  margin-left: 15px;
  color: #898d9e;
}

.locationIcon {
  color: #898d9e;
  font-size: 19px;
}
.dateIcon {
  color: #898d9e;
  font-size: 19px;
}

.lineStyle {
  width: 350px;
  border: 1px solid #e5e6ee;
  margin-top: 30px;
  margin-bottom: 20px;
}

.memberName {
  font-weight: 700;
  font-size: 18px;
}
.nameTab {
  font-weight: 700;
  font-size: 18px;
}

.NameAndApprovalContainer {
  display: flex;
  justify-content: start;
  margin-left: 50px;
  margin-bottom: 20px;
}

.approveContainer {
  font-weight: 700;
  display: flex;
  justify-content: end;
  margin-right: 5px;
}

.addressList {
  font-weight: 700;
  margin-left: 5px;
}
.approveTab {
  font-weight: 700;
  margin-left: 80px;
  font-size: 18px;
}

.approvedResult {
  font-weight: 700;
  margin-left: 50px;
  font-size: 18px;
}

.bottomArea {
  margin-bottom: 50px;
}

.searchChance {
  color: #0f2851;
  font-weight: bold;
  font-size: xx-large;
  margin-left: 40px;
  position: fixed;
  top: 10vh;
  // background-color: yellowgreen;
}

.searchBarPart {
  flex: 4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.organisationLogo {
  width: 94%;
}
