.containerForAll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 80px;
  margin-bottom: 40px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  width: 312px;
  margin: 10px 0;
}

.validationAllContainer {
  font-size: 15px;
}

.validationContainer {
  display: flex;
  align-items: center;
  margin: auto 8px;
}
.validationIcon {
  color: #ff0000;
}

.passwordInput input {
  margin-top: -1px;
  height: 48px;
}

.checkbox {
  margin-top: 20px;
}

.button {
  height: 56px;
  width: 312px;
  margin-top: 12px;
  font-size: 20px;
  background-color: #585ce5;
  box-shadow: 0 24px 16px -19px #a1a3f6;
  position: relative;
}

.rightArrowIcon {
  position: absolute;
  right: 24px;
}

.separator {
  margin-top: 24px;
  width: 312px;
  height: 12px;
  border-bottom: 1px solid rgba($color: #0f2851, $alpha: 0.3);
  text-align: center;
}

.separatorText {
  font-size: 17px;
  background-color: #ffffff;
  padding: 0 16px;
}

.oauthContainer {
  margin-top: 24px;
  width: 312px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.oauthIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: rgba($color: #0f2851, $alpha: 0.3) 1px solid;
  border-radius: 20px;
}

.facebookLogo {
  color: #585ce5;
  font-size: 22px;
}

.googleIcon {
  margin-top: 4px;
}
.loginContainer {
  width: 312px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginText {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
