.containerForAll {
  width: 100vw;
}

.applicationContainer {
  margin-bottom: 112px;
  display: flex;
  flex-direction: column-reverse;
}

.header {
  width: 312px;
  margin: 62px auto 0px 35px;
  background-color: #ffffff;
  z-index: 99;
  position: sticky;
}

.scheduleTabContainer {
  margin-top: -40px;
  width: 100vw;
  height: 92px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.scheduleTabContainer button {
  width: 50vw;
}

.scheduleTabContainer div {
  font-weight: bold;
  font-size: 16px;
}

.noApplicationsAppliedContainer {
  margin-top: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.noApplicationsAppliedHeader {
  margin-bottom: 48px;
}

.noApplicationsAppliedText {
  margin-bottom: 48px;
}

.button {
  height: 55px;
  width: 218px;

  font-size: 20px;

  box-shadow: 0 24px 16px -19px #a1a3f6;
}

.applicationsAppliedContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.applicationsAppliedImg {
  width: 312px;
  border-radius: 20px;
  box-shadow: 0 7px 7px 1px #cccccc;
  margin: 16px 0;
}

.applicationsAppliedTextContent {
  width: 312px;
  flex: 2;
}

.detailContainer {
  display: flex;
  color: #898d9e;
  margin-bottom: 4px;
}

.organisationName {
  color: #898d9e;
  margin-bottom: 4px;
}

.detailIcon {
  margin-right: 4px;
}

.activityName {
  font-size: 24px;
  font-weight: bold;

  margin-bottom: 4px;
}

.detailPart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 312px;
}

.deleteButton {
  background-color: #585ce5;
  width: 50px;
  height: 50px;
  flex: 1;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.deleteButton:hover {
  background-color: #a7a0ed;
}

.deleteButton:active {
  background-color: #585ce5;
}


///////////////////// CSS of deleteActivityModal Box /////////////////



.deleteModalContainer {
  position: absolute;
  background-color: #efece4;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 55%;
  transform: translate(-50%, -50%);
  height: 33%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}


.details {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  width: 100%;
  padding-left:auto;
  padding-right:auto;
}


.bodyPart{
  margin-bottom: 20%;
}

.fontSize{
  font-size: x-large;
  
}

.buttonPart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // background-color: red;
  width: 100%;;
}



.confirmButton {
  // flex: 1;
  border: none;
  color: #0f2851;
  font-weight: lighter;
  width: 40%;
  border-radius: 10px;
  height: 50px;
  background-color: #b0b2c3;
}

.cancelButton {
  background: #585ce5;
  border: none;
  color: white;
  font-weight: lighter;
  width: 40%;
  border-radius: 10px;
  // flex: 1;

}