.upperPart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  width: 100vw;
  // height: 10vh;
  height: 100px;
  position: fixed;
  z-index: 99;
  background-color: #ffffff;
}
.chevronAndAdjustmntIcon {
  color: #b0b2c3;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  display: flex;
  //   width: 430px;
  height: 85px;
  //   margin-top: 30px;
}

.backIcon {
  margin-left: 16px;
  //   margin-left: 30px;
  font-size: 44px;
}
.searchContainer {
  width: 68vw;
}

.searchContainer input {
  background: #ffffff;
  box-shadow: 0px 1px 9px -1px rgba(88, 92, 229, 0.5);
  border-radius: 30px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 40px;
  font-size: 18px;
  margin-right: 0;
}
.searchIcon {
  //   width: 160px;
  font-size: 24px;
  left: 14px;
  position: absolute;
}
.adjustmentFilterIconContainer {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: 16px;
}

.adjustmentFilterIcon {
  transform: rotate(90deg);
  margin-top: 2px;
  font-size: 34px;
}

.chevronIcon {
  margin-left: 30px;
  font-size: 38px;
}

.headNavBar {
  margin-top: 40px;
}

// .volunterOpportunity {
//   font-weight: 400;
//   font-size: 15px;
//   margin-left: 40px;
//   font-size: 19px;
//   margin-top: 10px;
// }

// .activityContaner {
//   margin-top: 20px;
//   flex-direction: column;
//   margin-left: 40px;
//   width: fit-content;
// }

// .lineTab {
//   border: 1px solid #e5e6ee;
//   transform: matrix(1, 0, 0, 1, 0, 0);
//   width: 365px;
//   margin-top: 20px;
// }

// .activityTab {
//   font-weight: 400;
//   margin-bottom: 5px;
// }

// .activitycontent {
//   color: #898d9e;
//   font-weight: 400;
// }

// .adoptionTab {
//   font-weight: 700;
//   letter-spacing: 0.002em;
//   font-size: 30px;
//   margin-left: 40px;
//   margin-top: 10px;
// }

.imgContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.imgContent {
  width: 80vw;
  border-radius: 32px;
  margin: 20px 0;
}

.imgPreview {
  width: 320px;
  height: 231px;
  border-radius: 32px;
  margin-top: 20px;
}

.petContainer {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  margin-bottom: 16px;
}

.nameTab {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 2px;
  margin-left: 24px;
}

.nameContainer {
  // text-align: left;
  align-items: center;
  justify-content: space-between;
  // flex-direction: row;
  display: flex;
  background: rgba(244, 243, 243, 0.8);
  border-radius: 0px 0px 32px 32px;
  width: 320px;
  height: 62px;
  position: absolute;
  bottom: 3px;
}
.nameContentContainer {
  justify-content: center;
  flex-direction: column;
}

.button {
  margin-right: 30px;
  font-size: 15px;
  background-color: #585ce5;
  box-shadow: 0 24px 16px -19px #a1a3f6;
}
.buttonsecond {
  width: 40vw;
  height: 5vh;
  margin-top: 6px;
  margin-left: 130px;
  font-size: 15px;
  background-color: #585ce5;
  box-shadow: 0 24px 16px -19px #a1a3f6;
}

.bottomPart {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100vw;
}
.containerForAll {
  margin-bottom: 124px;
  width: 100vw;
}

.headerContainer {
  // margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.organisationTab {
  // font-weight: 700;
  // font-size: 30px;
  // letter-spacing: 0.002em;
  width: 74vw;
  margin: 0;
}

// .adoptionDetailHr {
//   margin: 4px -80px 32px -80px;
//   // width: 100vw;
//   border: 1px solid #e5e6ee;
//   filter: blur(0.5px);
//   transform: rotate(0.15deg);
// }

.detailsBigContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  box-sizing: border-box;
}

.detailLabelAndContent {
  display: flex;
  justify-content: flex-start;
}

.detailLabel {
  margin-right: 2vw;
  width: 30vw;
  font-weight: bold;
  margin-bottom: 5px;
}
.detailContent {
  width: 60vw;
  margin-bottom: 5px;
}
