.chevronAndAdjustmntIcon {
  color: #b0b2c3;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 430px;
  height: 85px;
  margin-top: 30px;
}

.chevronIcon {
  margin-left: 30px;
  font-size: 38px;
}

.headNavBar {
  margin-top: 40px;
}

.searchContainer{
  width: 80vw;
}

.searchContainer input{
  background: #ffffff;
  box-shadow: 0px 1px 9px -1px rgba(88, 92, 229, 0.5);
  border-radius: 30px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding-left: 75px;
  font-size: 18px;
}

.searchBigContainer {
  margin-right: 12px;
  font-size: 20px;
}

.searchMargin {
  margin-left: 20px;
}

// .searchIcon div {
//   margin-left: 40px;
//   width: 400px;
// }

.searchIcon  {
  width: 160px;
  font-size: 18px;
  margin-left: 20px;
}

.volunterOpportunity {
  font-weight: 400;
  font-size: 15px;
  margin-left: 40px;
  font-size: 19px;
  margin-top: 10px;
}


.activityContaner {
  margin-top: 20px;
  flex-direction: column;
  margin-left: 40px;
  width: fit-content;
}

.lineTab {
  border: 1px solid #E5E6EE;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 365px;
  margin-top: 20px;
}

.activityTab {
  font-weight: 400;
  margin-bottom: 5px;
}

.activitycontent{
  color: #898D9E;
  font-weight: 400;
}

.adoptionTab {
  font-weight: 700;
  letter-spacing: 0.002em;
  font-size: 30px;
  margin-left: 40px;
  margin-top: 10px;
}

.imgContent {
  width: 320px;
  height: 231px;
  border-radius: 32px;
  margin-top: 20px;
}

.petContainer {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nameTab {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 2px;
  margin-left: 24px;
}

.nameContainer {
  // text-align: left;
  align-items: center;
  justify-content: space-between;
  // flex-direction: row;
  display: flex;
  background: rgba(244, 243, 243, 0.8);
  border-radius: 0px 0px 32px 32px;
  width: 320px;
  height: 62px;
  position: absolute;
  bottom: 3px;
}
.nameContentContainer{
  justify-content: center;
  flex-direction: column;
}

.button {
  margin-right: 30px;
  font-size: 15px;
  background-color: #585ce5;
  box-shadow: 0 24px 16px -19px #a1a3f6;
}
.buttonsecond {
  width: 40vw;
  height: 5vh;
  margin-top: 6px;
  margin-left: 130px;
  font-size: 15px;
  background-color: #585ce5;
  box-shadow: 0 24px 16px -19px #a1a3f6;
}

.containerForAll {
  margin-bottom: 112px;
}

.headerContainer {
  margin-bottom: 10px;
  margin-top: 20px;
}

.organisationTab {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.002em;
  margin-left: 40px;
  width: 390px;
}

.adoptionDetailHr {
  margin: 4px -80px 32px -80px;
  // width: 100vw;
  border: 1px solid #e5e6ee;
  filter: blur(0.5px);
  transform: rotate(0.15deg);
}

.detailsContainer{
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5px;
}

.illnessRecordContainer {
  width: 65vw;
  margin-bottom: 5px;
}

.detailsforAll {
  margin-left: 15vw;
}